<div class="ui secondary menu toolbar">
    <div class="ui container">
        <div class="item header">
            Home
        </div>
        <div class="item header">
            Home
        </div>

        <div class="right menu">
            <div class="item header">
                Planning
            </div>
            <div class="item header">
                Loging
            </div>
            <div class="item header">
                Sign-in
            </div>
            <div class="item header">
                Sign-out
            </div>
        </div>
    </div>
</div>