#marginB { 
    margin-bottom: 40px;
}

.board {
    background: #F4F4F4;
}

.title{
    color: #505050;
    font-size:20px;

}

.sub-value {
color: #86879D;
font-size:16px;
}

.sub-label {
    color: #86879D;
    font-size: 12px;
}

.dark { 
    background: #3F4395;
    border-radius: 8px;
}

.btn {
    background: #F0F1F8;
    border-radius: 8px;
    color:#3F4395;
}
.small-icon {
    background: #F0F1F8;
    border-radius: 8px;
}

.small-label {
    background: #86879D;
    border-radius: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color:#ffffff;
}