<div class="ui segment" id="marginB" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <div fxFlex="5%">
        <sui-checkbox>

        </sui-checkbox>
    </div>
    <div fxFlex>{{bidder?.id}}</div>
    <div fxFlex="25%">{{bidder?.name}}</div>
    <div fxFlex>{{bidder?.mainContact}}</div>
    <div fxFlex>{{bidder?.email}}</div>
    <div fxFlex >{{bidder?.rcNumber}}</div>
   
    <div > <a class="ui tiny icon circular button right-aligned " routerLink="/admin/bidders/id"><i class="eye icon"></i></a></div>
</div>