.sub-label {
    background: #86879D;
    border-radius: 10px;
    color:#fff;
}

#marginB {
    margin-bottom: 35px;

}
.font{
 color: #86879D;
 font-size:16px;
}

.sub-value {
    color: #86879D;
    font-size:14px;
}

.title {
    color: #505050;
    font-size:20px;
}