.green {
    padding: 4px 12px;
    width: 59px;
    height: 16px;
    background: #47C672;
    border-radius: 10px;
    color:#fff;
}

.red {
    padding: 4px 12px;
    width: 69px;
    height: 16px;
    background: #BFBFBF;
    border-radius: 10px;
    color:#fff;
};