.btn {
    margin-top: 30px;
    color: #3f4395;
    background: #F0F1F8;
    border-radius: 8px;
}

.small-label {
    background: #44C4A1;
    color:#fff;
}
.small-label2 {
    background:#F0AC29;
    color:#fff;
}

.title {
    color: #505050;
    font-size:20px;
}

strong {
    color: #505050;
    font-size:14px;
}

.sub-label {
    color: #505050;
    font-size:14px;
}