<h3 class="title">Bidders Details</h3>
<hr>
<div class="ui vertical basic segment">
    <div fxLayout="row" >
        <div fxFlex="20%" fxLayout="row" >
            <img src="/assets/images/lion_brand.svg" alt="Lion brand" class="ui image">
        </div>
        
        <div fxFlex="grow" >
            <button class="ui button btn" >Change Logo</button>
        </div>
    </div>
    <div class="ui divider"></div>
    
    <div fxLayout="row">
        <div fxFlex="20%" ><strong>RC Number</strong></div>
        <div fxFlex="grow" class="sub-label">5069876354</div>
    </div>
    <div class="ui divider"></div>

    <div fxLayout="row">
        <div fxFlex="20%"><strong>Tax Identification Number</strong></div>
        <div fxFlex="grow" class="sub-label">9385023JF</div>
    </div>
    <div class="ui divider"></div>

    <div fxLayout="row">
        <div fxFlex="20%"><strong>Address</strong></div>
        <div fxFlex="grow" class="sub-label">4140 Parker Rd. Allentown, New Mexico 31134</div>
    </div>
    <div class="ui divider"></div>

    <div fxLayout="row">
        <div fxFlex="20%"><strong>Main Contact</strong></div>
        <div fxFlex="grow" class="sub-label">Farida Aliyu</div>
    </div>
    <div class="ui divider"></div>

    <div fxLayout="row">
        <div fxFlex="20%"><strong>Email</strong></div>
        <div fxFlex="grow" class="sub-label">tim.jennings@example.com</div>
    </div>
    <div class="ui divider"></div>

    <div fxLayout="row">
        <div fxFlex="20%"><strong>Phone Number</strong></div>
        <div fxFlex="grow" class="sub-label">0907 315 6551</div>
    </div>
    <div class="ui divider"></div>

    <div fxLayout="row">
        <div fxFlex="20%"><strong>Website</strong></div>
        <div fxFlex="grow" class="sub-label">www.lionbrand.com</div>
    </div>
    <div class="ui divider"></div>

    <div fxLayout="row">
        <div fxFlex="20%"><strong>Company Type</strong></div>
        <div fxFlex="grow" class="sub-label">Limited Liability</div>
    </div>
    <div class="ui divider"></div>

    <div fxLayout="row">
        <div fxFlex="20%"><strong>Ownership Type</strong></div>
        <div fxFlex="grow" class="sub-label">Partnership</div>
    </div>
    <div class="ui divider"></div>

    <div fxLayout="row">
        <div fxFlex="20%"><strong>RRR Status</strong></div>
        <div fxFlex="grow"><label class="ui small-label circular label">Verified</label></div>
    </div>
    <div class="ui divider"></div>

    <div fxLayout="row">
        <div fxFlex="20%"><strong>BPP Status</strong></div>
        <div fxFlex="grow"><label class="ui small-label circular label">Verified</label></div>
    </div>
    <div class="ui divider"></div>

    <div fxLayout="row">
        <div fxFlex="20%"><strong>Compliance</strong></div>
        <div fxFlex="grow"><label class="ui  circular small-label label">FIRS</label> &nbsp; &nbsp; <label class="ui small-label circular label">ITF</label> &nbsp; &nbsp; <label class="ui small-label circular label">NSTIF</label> &nbsp; &nbsp; <label class="ui small-label2 circular label">PENCOM</label></div>
    </div>
    <div class="ui divider"></div>






</div>