<div fxLayout="row" fxLayoutAlign="space-between center">
    <h3 class="title">Lots</h3>
    <button class="ui icon small-icon button"><i class="chain icon"></i></button>
</div>
<hr>

<div fxLayout="row">
    <div fxFlex="20%" class="sub-value"><strong>Lot ID</strong></div>
    <div fxFlex="grow" class="sub-label">5069876354</div>
</div>
<div class="ui divider"></div>

<div fxLayout="row">
    <div fxFlex="20%" class='sub-value'><strong>Tender Title</strong></div>
    <div fxFlex="grow" class="sub-label">9385023JF</div>
</div>
<div class="ui divider"></div>

<div fxLayout="row">
    <div fxFlex="20%" class="sub-value"><strong>Lot ID</strong></div>
    <div fxFlex="grow" class="sub-label">444422323</div>
</div>
<div class="ui divider"></div>

<div fxLayout="row">
    <div fxFlex="20%" class="sub-value"><strong>Winner</strong></div>
    <div fxFlex="grow" class="sub-label">El Paso Saddleblanket Company, LP</div>
    <div fxFlex="20%" class="right-aligned"><button class="ui btn tiny button">View Profile</button></div>
</div>
<div class="ui divider"></div>

<div fxLayout="row">
    <div fxFlex="20%" class="sub-value"><strong>Lot Category</strong></div>
    <div fxFlex="grow" class="sub-label">Category B - Work/Supply (Goods)</div>
</div>
<div class="ui divider"></div>

<div fxLayout="row">
    <div fxFlex="20%" class="sub-value"><strong>Status</strong></div>
    <div fxFlex="grow" class="sub-label"><label class="ui green circular label">Completed</label></div>
</div>
<div class="ui divider"></div>

<div fxLayout="row">
    <div fxFlex="20%" class="sub-value"><strong>Project Year</strong></div>
    <div fxFlex="grow" class='sub-label'>2021</div>
</div>
<div class="ui divider"></div>

<div fxLayout="row">
    <div fxFlex="20%" class="sub-value"><strong>Amount</strong></div>
    <div fxFlex="grow" class="sub-label">N2,405,058</div>
</div>
<div class="ui divider"></div>

<div fxLayout="row">
    <div fxFlex="20%" class="sub-value"><strong>Amount in words</strong></div>
    <div fxFlex="grow" class="sub-label">Two Million, three hundred and eight thousand, one hundread and fifty-eight naira only</div>
</div>
<div class="ui divider"></div>

