<h3>Project Details</h3>
<hr>

<div class="ui vertica basic segment">
    <div fxLayout="row">
        <div fxFlex="20%"><strong>Description</strong></div>
        <div fxFlex="grow">Request to buy 15 pieces of HP Deskjet printers to facilitate the printing jobs in Public Affairs Department.</div>
    </div>
    <div class="ui divider"></div>

    <div fxLayout="row">
        <div fxFlex="20%"><strong>Outer Result</strong></div>
        <div fxFlex="grow">Completion of equipment testing centre.</div>
    </div>
    <div class="ui divider"></div>

    <div fxLayout="row">
        <div fxFlex="20%"><strong>Procurement Type</strong></div>
        <div fxFlex="grow">Goods</div>
    </div>
    <div class="ui divider"></div>

   
        <div fxLayout="row">
            <div fxFlex="20%"><strong>Selection Method</strong></div>
            <div fxFlex="grow">Random Selection</div>
        </div>
        <div class="ui divider"></div>


    <div fxLayout="row">
        <div fxFlex="20%"><strong>Reference Number</strong></div>
        <div fxFlex="grow">5069876354</div>
    </div>
    <div class="ui divider"></div>

    <div fxLayout="row">
        <div fxFlex="20%"><strong>Project Year</strong></div>
        <div fxFlex="grow">2021</div>
    </div>
    <div class="ui divider"></div>

    <div fxLayout="row">
        <div fxFlex="20%"><strong>Appropriation</strong></div>
        <div fxFlex="grow"><label class="ui circular green label">APPROVED</label></div>
    </div>
    <div class="ui divider"></div>

    <div fxLayout="row">
        <div fxFlex="20%"><strong>Budget</strong></div>
        <div fxFlex="grow">
            N2,405,058,908 (Two Billion, Four Hundred and Five Million, Fifty-Eight thousand, Nine hundred and eight Naira)</div>
    </div>
    <div class="ui divider"></div>
</div>