#marginB {
    margin-bottom: 40px;
}

.title {
    color: #505050;
    font-size:20px;
}

.sub-label {
    background: #86879D;
    border-radius: 10px;
    color:#fff;
}

.sub-title {
    color: #86879D;
    font-size:16px;
}

.small-value {
    color: #86879D;
    font-size:12px;
    font-weight:800;
}

.btn {
    background: #F0F1F8;
    border-radius: 8px;
    color: #3F4395;
}