<div fxLayout="row">
    <div fxFlex="20%" class="sub-value"><strong>LOT ID</strong></div>
    <div fxFlex="grow" class="sub-label">5069876354</div>
</div>
<div class="ui divider"></div>

<div fxLayout="row">
    <div fxFlex="20%" class="sub-value"><strong>Tender Title</strong></div>
    <div fxFlex="grow" class="sub-label">9385023JF</div>
</div>
<div class="ui divider"></div>

<div fxLayout="row">
    <div fxFlex="20%" class='sub-value'><strong>Winner</strong></div>
    <div fxFlex="grow" class="sub-label">El Paso Saddleblanket Company, LP</div>
   <div fxFlex="15%"> <button class="ui btn tiny gray button">View Profile</button></div>
</div>
<div class="ui divider"></div>

<div fxLayout="row">
    <div fxFlex="20%" class="sub-value"><strong>Lot Type</strong></div>
    <div fxFlex="grow" class="sub-label">Goods</div>
</div>
<div class="ui divider"></div>

<div fxLayout="row">
    <div fxFlex="20%" class="sub-value"><strong>Selection Method</strong></div>
    <div fxFlex="grow" class="sub-label">Ranom Selection </div>
</div>
<div class="ui divider"></div>

<div fxLayout="row">
    <div fxFlex="20%" class='sub-value'><strong>Project Year</strong></div>
    <div fxFlex="grow" class='sub-label'>2021</div>
</div>
<div class="ui divider"></div>

<div fxLayout="row">
    <div fxFlex="20%" class="sub-value"><strong>Amount</strong></div>
    <div fxFlex="grow"class="sub-label">N2,405,058</div>
</div>
<div class="ui divider"></div>

<div fxLayout="row">
    <div fxFlex="20%" class='sub-value'><strong>Amount in words</strong></div>
    <div fxFlex="grow" class="sub-label">Two Million, three hundred and eight thousand, one hundread and fifty-eight naira only</div>
</div>
<div class="ui divider"></div>