.sub-value {
    font-weight:bold;
    color: #505050;
    font-size:14px;
}

.sub-label {
color: #505050;
font-size:14px;
}

.btn {
    background: #F0F1F8;
    border-radius: 8px;
    font-size:12px;
    color: #3F4395;
}