<div class="ui fluid pointing vertical secondary menu" id="sidebar">
   
        <div class="item">
            <button class="ui fluid primary button dropdown" suiDropdown>
                <div class="text">2021 - 2022</div>
                <i class="dropdown icon"></i>
                <div class="menu" suiDropdownMenu>
                    <div class="item">2022 - 2023</div>
                    <div class="item">2023 - 2024</div>
                    <div class="item"> 2025 - 2026</div>
                </div>
            </button>
        </div>
        <div class="item" routerLink="/admin/dashboard" routerLinkActive="active" id="marginB">
            <div class="header">
                Home
            </div>
        </div>
  
    <div class="item" routerLink="/admin/planning" routerLinkActive="active" id="marginB">
        <div class="header">
            Planning
        </div>
    </div>
    <div class="item" id="marginB" routerLink="/admin/lot" routerLinkActive="active">
        <div class="header">
            Lot Management
        </div>
    </div>
    <div class="item" id="marginB" routerLink="/admin/bidders" routerLinkActive="active">
        <div class="header">
            Bidders
        </div>
    </div>
    <div class="item" id="marginB" routerLink="/admin/advertisement" routerLinkActive="active">
        <div class="header">
            Advertisement
        </div>
    </div>

    <div class="item" id="marginB" routerLink="/admin/award" routerLinkActive="active">
        <div class="header">
           Award
        </div>
    </div>

    <div class="item" id="marginB" routerLink="/admin/implementation" routerLinkActive="active">
        <div class="header">
           Implementation
        </div>
    </div>
    <div class="item" id="marginB" routerLink="/admin/settings" routerLinkActive="active">
        <div class="header">
           Settings
        </div>
    </div>
</div>