.side-panel {
    background:#f0f1f8;
    border-radius:4px;
    padding:5px;
}

.right-aligned {
    text-align: right;
    float:right;
}

.left-aligned {
    text-align: left;
    float:left;
}

.center-aligned {
    text-align: center;
}



.dark {
    background: #3f4395 !important;
    color:#fff;
}

.right-aligned {
    float:right;
    text-align: right;
}

#marginB {
    margin-bottom: 10px;
}

.pointer {
    cursor: pointer;
}