#dark {
    background: #3f4395;
    color: #fff !important;
}

#light {
    background: #eaeffb;
    color:#3f4395;
}

.card { 
width: 120px;
height: 120px;
background: #EAEFFB;
border-radius: 8px;
text-align:center;
padding-top:30px;
}

.primary {
    color:#3f4395;
}



.right-aligned {
    text-align: right;
    float:right;
}

.box {
    text-align: center;
    padding:10px 10px;

}